<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US"}}">
<title>RTLS in a BIM</title>
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <h1 class="project-name">RTLS in a BIM</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    <a href="https://github.com/pierluigicosi" class="btn">My GitHub</a>
    <a href="https://www.unisalento.it/offerta-formativa-a.a.-2021/2022/-/dettaglio/insegnamento/131549/internet-of-things" class="btn">IoT Course</a>
</header>

<main id="content" class="main-content" role="main" style="text-align: justify">
    {{ content }}

    <div class="video_div">
    <video width="800" controls>
        <source src="./video/Demo.mp4" type="video/mp4">
    </video>
    </div>
</main>

<footer class="footer">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
    </div>

    <div class="find_me">Contact me</div>
    <p></p>
    <p class="social-icon__item"><a class="social-icon__link" href="mailto:pierluigicosi@gmail.com">
            <ion-icon name="mail"></ion-icon> pierluigicosi@gmail.com
        </a></p>
    <p class="social-icon__item"><a class="social-icon__link" href="tel:+393277489097">
            <ion-icon name="call"></ion-icon> +39 3277489097
        </a></p>
    <p class="social-icon__item"><a class="social-icon__link" href="https://github.com/pierluigicosi">
        <ion-icon name="logo-github"></ion-icon> pierluigicosi
    </a></p>
    <p></p>
    <p>&copy;2022 Created with Github Pages</p>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
